---
layout: compress
---
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
{% include head.html %}

<body>
  <center><h1><a href="https://timdime.com/assets/Tim_Dime_Resume.pdf">DOWNLOAD RESUME</a></h1></center>
  <div class="wrapper">
    {% include sidebar.html %}

    <div class="main-wrapper">
        {{ content }}
    </div>
  </div>

  {% include footer.html %}

{% include scripts.html %}
    <center><h1><a href="https://timdime.com/assets/Tim_Dime_Resume.pdf">DOWNLOAD RESUME</a></h1></center>
</body>

</html>

